<!DOCTYPE html>
<html>
  {% load pwa %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% progressive_web_app_meta %}
    {% comment %} <meta rel="manifest" href="{% url 'pwa:manifest' %}" /> {% endcomment %}
    <link rel="icon" href="/static/render/logo.png" type="image/png" />
    <title>My Spending</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Teko:wght@300..700&display=swap" rel="stylesheet" />
    <style>
      .teko {
        font-family: 'Teko', sans-serif;
      }
      .logo {
        font-family: 'Teko', sans-serif;
        font-size: 30px;
        margin-top: -15px;
        margin-bottom: -15px;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="position-fixed top-0 vw-100 navbar navbar-expand-md navbar-light mb-4 border-bottom overflow-hidden" style="height: 50px; z-index: 3; background-color: #ffffff80;backdrop-filter: blur(10px)">
      <div class="container-fluid">
        <div class="d-flex" style="width: 50px;min-width: 50px;"></div>
        <a class="navbar-brand logo" href="{% url 'render:home' %}">My Spending</a>
        <div class="d-flex justify-content-end" style="width: 50px;min-width: 50px;">
          {% if user.is_authenticated %}
            <div class="position-relative">
              <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round">
                  <path d="M18 20a6 6 0 0 0-12 0" />
                  <circle cx="12" cy="10" r="4" />
                  <circle cx="12" cy="12" r="10" />
                </svg>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <button class="dropdown-item" type="button" onclick="logout_form_submit.click()">Log Out</button>
                </li>
              </ul>
              <form action="{% url 'accounts:logout' %}" method="post" hidden>
                {% csrf_token %}
                <button id="logout_form_submit" name="submit" class="btn">Log out</button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- Main content -->
    <main class="container" style="padding-top: 50px;">
      <div>
        {% block content %}

        {% endblock %}
      </div>
    </main>
  </body>
</html>
