<div class="position-fixed d-flex justify-content-center" style="left: 20px; right: 20px;bottom: 40px; gap: 10px;z-index: 700;">
  <a href="{% url 'render:new_receipt' %}">
    <button class="btn rounded-circle bg-black text-white" style="height: 60px; width: 60px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus">
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>
    </button>
  </a>
  <button class="btn rounded-circle bg-black text-white" style="height: 60px; width: 60px;" onclick="upload_form_photo_by_camera.click();">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-camera">
      <path d="M14.5 4h-5L7 7H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3l-2.5-3z" />
      <circle cx="12" cy="13" r="3" />
    </svg>
  </button>
  <button class="btn rounded-circle bg-black text-white" style="height: 60px; width: 60px;" onclick="upload_form_photo_by_album.click();">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-images">
      <path d="M18 22H4a2 2 0 0 1-2-2V6" />
      <path d="m22 13-1.296-1.296a2.41 2.41 0 0 0-3.408 0L11 18" />
      <circle cx="12" cy="8" r="2" />
      <rect width="16" height="16" x="6" y="2" rx="2" />
    </svg>
  </button>
</div>

<div id="loading_overlay_layer" class="position-fixed top-0 start-0 vw-100 vh-100 flex-column justify-content-center align-items-center" style="gap:10px;background-color: #00000099; color: white;z-index: 800; display: none;">
  <div class="spinner-border" role="status" style="width: 50px; height: 50px;margin-top: -30px;"></div>
  <div class="fs-3">&nbsp;RECOGNIZING...</div>
</div>

<form id="upload_form" action="{% url 'ai:upload_photo' %}" method="post" enctype="multipart/form-data" hidden>
  {% csrf_token %}
  <div>
    <input id="upload_form_photo_by_camera" type="file" name="photo" accept="image/*" capture="camera" onchange="upload_form.submit();loading_overlay_layer.style.display='flex';" />
    <input id="upload_form_photo_by_album" type="file" name="photo" accept="image/*" onchange="upload_form.submit();loading_overlay_layer.style.display='flex';" />
  </div>
</form>
