<div class="flex flex-col justify-center gap-2">
  <button class="button" onclick="upload_form_photo_by_camera.click();">Take a photo of receipt</button>
  <button class="button" onclick="upload_form_photo_by_album.click();">Choose from the album</button>
</div>

<div id="loading_overlay_layer" class="fixed left-0 top-0 w-screen h-screen bg-white hidden flex-col justify-center items-center gap-5">
  <div class="-mt-10">
    <svg class="animate-spin -ml-1 mr-3 w-16 h-16 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  </div>
  <div class="font-thin text-xl">&nbsp;RECOGNIZING...</div>
</div>

<form id="upload_form" action="{% url 'ai:upload_photo' %}" method="post" enctype="multipart/form-data" hidden>
  {% csrf_token %}
  <div>
    <input id="upload_form_photo_by_camera" type="file" name="photo" accept="image/*" capture="camera" onchange="upload_form.submit();loading_overlay_layer.style.display='flex';" />
    <input id="upload_form_photo_by_album" type="file" name="photo" accept="image/*" onchange="upload_form.submit();loading_overlay_layer.style.display='flex';" />
  </div>
</form>
